body{
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Raleway', sans-serif;
    height: 76px;
    
}

.nav-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px #333 solid;
    border-bottom: 1px solid rgb(250, 233, 233);
    height: 76px;
}

.logo{
    color: #666;
    text-decoration: none;
    font-size: 2em;
}

.logo:hover{
    color: #333;
    text-decoration: none;
    list-style: none;
}

ul{
    list-style: none;

    width: 45%;
    display: flex;
    justify-content: space-between;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #333;
}

ul li a:hover{
    color: #337ab7;
}

